<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="MainPage.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Нотесы</title>
    </head>
    <body>
        <div class="UpperPanel">
            <button type="addNote" id="addNote"><img src="Images/plus.png" width="100%" height="100%"/></button>
            <button type="addNote" id="userPng"><img src="Images/user.png" width="100%" height="100%"/></button>
            <hr color="gray" class="UpperPanelLine"/>
        </div>
        <div class="Note">
            <div class="NoteInside">
            <span style="white-space: pre-line" class="NoteTitle"><b>Title</b></span>
            <div></div>
            <span style="white-space: pre-line" class="NoteDescription">Description</span>
            </div> 
            <img src="Images/pencil.png" class="Pencil"/>
            <img src="Images/trashcan.png" class="Trashcan"/>
        </div>
    </body>
</html>