<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="MainPage.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Нотесы</title>
    </head>
    <body>
        <div id="UpperPanel">
            <button type="addNote" id="addNote"><img src="Images/plus.png" width="100%" height="100%"></button>
            <button type="addNote" id="userPng"><img src="Images/user.png" width="100%" height="100%"></button>
        </div>
        <hr color="gray"/>
    </body>
</html>