<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/resources/css/NotePage.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Нотес!</title>
    </head>
    <body>
        <div class="NoteInside">
            <input class="TitleInput" placeholder="Title"></input>
            <div></div>
            <textarea class="DescriptionInput" placeholder="Description"></textarea>
        </div>
        <div class="Buttons">
            
        </div>
    </body>
</html>